
<div id="home">
    <img src="../assets/fortnite.jpg" alt="desktop" class="img-fluid" >


    <div class="d-flex flex-column align-items-center center">
        
        <h1 class="display-4">WELCOME</h1>
  <h2 class="display-4">Gaming Shop</h2>

  <div class="d-flex py-4">
  <a class="btn btn-info btn-lg" href="#" routerLink="home" role="button">Buy Now </a> &nbsp;&nbsp;&nbsp;&nbsp;
  <a class="btn btn-info btn-lg" href="#" routerLink="home" role="button">Sell Now</a>
  </div>
</div>
</div>


<div class="row">
    <div class="col-sm-9">
        <app-post-details *ngIf="selectedPost" [post]="selectedPost"  (deletePostEvent)="onDeleteEvent($event)" (updatePostEvent)="onUpdatePostEvent($event)"></app-post-details>
    </div>

    <div class="col-sm-3"> 

        <app-posts-list (SelectPost)="onSelectPost($event)" [posts] = "postsList"></app-posts-list>
    </div>
</div> 